html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::selection {
  background: white;
  color: black;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  background: #1f1f1f;
  color: #fff;
}

a:active {
  background-color: transparent;
}

input,
textarea {
  caret-color: #fff;
}

/*  website styling  */

#container {
  width: 90%;
  margin: 200px;
  display: flex;
}

#container form {
  margin-left: 130px;
  display: flex;
  flex-direction: column;
}

*::placeholder {
  font-size: large;
}

#container form textarea::placeholder {
  font-size: large;
}

#container form input,
#container form textarea,
select {
  color: #fff;
  margin: 25px 0;
  background: transparent;
  border: 2px solid #888888;
  padding: 20px 25px;
  width: 600px;
  font-size: large;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

option {
  padding: 25px;
  background: #1f1f1f;
}

#container form input:focus,
#container form textarea:focus,
select:focus {
  border-color: #fff;
}

#text h1 {
  margin-top: 30px;
  font-size: 5rem;
  line-height: 80px;
}

/*  utility classes  */

.btn {
  background: #1346ef;
  color: #fff;
  border: none;
  padding: 20px 0;
  font-size: large;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.remove_list_style {
  list-style: none;
}

.remove_link_style {
  text-decoration: none;
  color: inherit;
}

.trans2s {
  transition: 0.2s ease-in-out;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  media querries   */

@media only screen and (max-width: 1512px) {
  #container form {
    margin-left: 50px;
  }
}

@media only screen and (max-width: 1432px) {
  #container form {
    margin-left: 0;
  }

  #text h1 {
    margin-bottom: 25px;
  }
  #container {
    flex-direction: column;
  }
  #container form input,
  #container form textarea,
  select {
    width: auto;
  }
  #container {
    margin: 100px;
  }
}

@media only screen and (max-width: 670px) {
  #container {
    margin: 50px;
  }
}

@media only screen and (max-width: 510px) {
  #container {
    margin: 25px;
  }
}

@media only screen and (max-width: 434px) {
  #text h1 {
    font-size: 3rem;
    margin-top: 10px;
  }
}
